.DS_Store
/build
/tags
.idea
.ycm_extra_conf.py
.ycm_extra_conf.pyc
Release
Debug
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/digitalnote/v15/ipch/AutoPCH/fd4cbc75aec8f030/BASE58.ipch
.vs/digitalnote/v15/ipch/AutoPCH/f565671ee1ab7acf/CURRENCY.ipch
.vs/digitalnote/v15/ipch/AutoPCH/ca42b0e08815843e/CRYPTONOTECONFIG.ipch
.vs/digitalnote/v15/ipch/AutoPCH/7230aec229258b31/CRYPTO.ipch
.vs/digitalnote/v15/ipch/AutoPCH/67d02b5c0db8fb08/SLOW-HASH.ipch
.vs/digitalnote/v15/ipch/AutoPCH/3812527e87e727df/BASE58.ipch
.vs/digitalnote/v15/ipch/AutoPCH/23843af1075d59de/CRYPTONOTECONFIG.ipch
.vs/digitalnote/v15/ipch/AutoPCH/19eb6b68daad4b2f/CURRENCY.ipch
.vs/digitalnote/v15/ipch/AutoPCH/19e577114f346f93/CRYPTO.ipch
.vs/digitalnote/v15/Browse.VC.opendb
.vs/digitalnote/v15/Browse.VC.db
desktop.ini
folderico-1528488729.ico
CMakeSettings.json
